*{
  margin: 0;
  padding: 0;
}
body, html{
  font-size: 1rem;
}

header ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(45deg, #000217, #07002a, #3e0000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
  padding: 25px;
}
section{
  box-sizing: content-box;
  height: 100%;
  background: linear-gradient(45deg, #06001e, #07002a, #000000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
 

}
  .portada{
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.conteudo1{
  text-align: center;
  margin-top: 25px;
  max-width: 100%;
  padding: 15px;


}
.conteudo1  .tra{
  font-size: 1.5rem;
  color: #ffffff;
}
.conteudo1  .evo{
  font-size: 2.5rem;
  color: #ffffff;
}

.titulo01{
  color: rgb(253, 253, 253);
  font-size: 2.5rem;
 
}
.titulo02{
  color: rgb(33, 179, 251);
  font-size: 2.5rem;

}

.A1{
  color: rgb(253, 253, 253);
  font-size: 2.2rem;
  margin-top: 10px;
}

.A2{
  color: rgb(253, 253, 253);
  font-size: 1.8rem;
}

.A3{
  color: #000000;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 15px;
}

.amarillo{
  color: #fff200;
}
.conteudo2{
  text-align: center;
  margin-top: 25px;
  padding: 25px;
  max-width: 100%;
}
.conteudo2 > H2{
  color: rgb(253, 253, 253);
  font-size: 1.8rem;
}
.conteudo2 > p{
  color: rgb(253, 253, 253);
  font-size: 1.2rem;
  margin: 15px;
}
.titulo{
  color: white;
  font-size: 2.5rem;
  padding: 20px;
}

.cart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.card{
  text-align: center;
  width: 300px;
  height: 500px;
  background-color: #00f8f8ed;
  margin-bottom: 25px;
}
.card-img{
  text-align: center;
  width: 300px;
  height: 450px;
  background-color: #00f8f8ed;
  margin-bottom: 25px;
}

.card-c{
  text-align: center;
  margin-top: 25px;
  width: 300px;
  height: 500px;
  background-color: #faffffed;
  margin: 25px;
}

.img{
  background-image: url("img/5.jpg");
  width: 380px;
  height: 350px;
  margin: auto;
}




.video{
  max-width: 60%;
  margin: auto;


}
iframe{
  width: 100%;
}





.link{
  display: block;
  padding: 8px;
 margin: auto;
 background-color: aqua;
 border-radius: 10px;
 width: 400px;;
 color: #000000;
 text-decoration: none;
 text-align: center;
 font-size: 1.8rem;
}

