*{
  margin: 0;
  padding: 0;
}
body, html{
  font-size: 1rem;
  font-family: sans-serif;
  box-sizing: content-box;
  background: linear-gradient(45deg, rgb(0, 0, 0), #00051d, #420048);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
}
.inicio{
  height: 100vh;
}


  .portada{
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
    flex-wrap: wrap;


}
.contp{
  font-size: 1.3rem;
  color: #fffcfc;
  text-align: center;
  width: 380px;
  padding: 10px;
  margin: auto;
 text-align: justify;
}
.cont {
  color: #fdf9f9;
  font-size: 1.3rem;
  margin-top: 15px;
  margin-bottom: 15px;
}


.conteudo1{
  text-align: center;
  margin-top: 15px;
  max-width: 100%;
  padding: 5px;


}
.conteudo1  .tra{
  font-size: 1.5rem;
  color: #ffffff;
}

.tion{
  font-size: 3.5rem;
  color: #e5e5e5;
  background: #1f2ef7f8 -webkit-gradient(linear, left top, right top, from(#fffeff),
  to(#a6a6aa), color-stop(0.5, #080031)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #c7c6c30a;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

.conteudo1  .evo {
  font-size: 3.5rem;
  color: #ffffff;
  background: #fffffff8 -webkit-gradient(linear, left top, right top, from(#2814ff),
  to(#1b00ca), color-stop(0.5, #140066)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #c7c6c30a;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

.titulo01{
  color: rgb(253, 253, 253);
  font-size: 2rem;
 
}
.titulo02{
  color: rgb(33, 179, 251);
  font-size: 2.5rem;

}

.A1{
  color: rgb(253, 253, 253);
  font-size: 2.2rem;
  margin-top: 50px;
}


.A3{
  font-size: 1.9rem;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 150px;
 background-color: #fff700;
}

.amarillo{
  color: #fff200;
}

.conteudo2{
  text-align: center;
  margin-top: 25px;
  padding: 25px;
  max-width: 100%;
}

.conteudo2 > H2{
  color: rgb(0, 255, 238);
  font-size: 1.8rem;
}


.titulo{
  font-size: 2rem;
  padding: 20px;
  width: 400px;
  text-align: center;
  color: #00ffff;
  margin-top: 20px;
}

.subtitulo{
  color: white;
  font-size: 1rem;
  margin: 15px;
}


.cart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.card{
  text-align: center;
  width: 350px;
  height: 350px;
  margin-bottom: 25px;
  background: linear-gradient(45deg, #a490f3, #110a2f, #500000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;

}

.card img{
  width: 100%;
}

.card-c img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}



.card-img img{
  width: 65%;
  border-radius: 10px;
}

.depoimento{
  text-align: center;
  width: 380px;
  height: 550px;
  
}
.card-cont{
  text-align: center;
  width: 380px;
  height: 450px;
  margin-bottom: 25px;
  background: linear-gradient(45deg, #a490f3, #110a2f, #500000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(91, 0, 83, 0.315);

}

.card-img img{
  width: 65%;
}


.card-c{
  text-align: center;
  width: 350px;
  height: 500px;
  background-color: #000000bb;
  color: #ffffff;
  margin: 25px;
  font-size: 1.1rem;
   border-radius: 10px;
   box-shadow: 0px 5px 5px rgba(91, 0, 83, 0.315);
}


.img{
  background-image: url("img/5.jpg");
  width: 380px;
  height: 350px;
  margin: auto;
}

.sub{
  color: #fffb00;
}

iframe{
  width: 100%;
}

.link a{
display: block;
padding: 5px;
font-weight: 500;
margin: auto;
background: linear-gradient(#00050500, #21eefc00);
color: #fff700;
border-radius: 10px;
width: 350px;
text-decoration: none;
text-align: center;
font-size: 1.6rem;
animation: flutuacao 1s ease-in-out infinite;
transform: scale3d(1.1, 1.1, 1);
box-shadow: 5px 5px 10px rgba(0, 136, 255, 0.235);
border: 3px solid rgb(227, 255, 42);
margin: auto;
margin: 5px;


}
.link{
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;

}

.link a:hover{
  transform: scale3d(1.1, 1.1, 1);

}

ol{

  padding: 15px;
  width: 100%;
  
}

li{
 
  margin-left: 15px;
  margin-bottom: 15px;
  width: 350px;

}


footer{
  background-color: #000000;
  color: white;
  padding: 25px;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 15px;
}
footer > p{
  margin: auto;
  max-width: 450px;
}



@keyframes flutuacao {
  50%, 50%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(-2px);
  }
}

  @keyframes animate{
    0%, 10%{
      background-position: -1000px;
    }
    20%{
      background-position: top left;
    }
    90%{
      background-position: top right;
    }
    100%{
      background-position: 1000px;
    }

        
  }

  
@keyframes colors {
  0% {
      background-position: 0% 90%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

