*{
  margin: 0;
  padding: 0;
}
body, html{
  font-size: 1rem;
  font-family: sans-serif;
  background: linear-gradient(45deg, #001854, #150000, #08001d);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
   color: #fdfdfd;
}
.container{
  max-width: 762px;
  margin: auto;
}

section{
  box-sizing: content-box; 
}


.portada{
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: space-evenly;
  flex-wrap: wrap;


}


.conteudo1{
  text-align: center;
  margin-top: 80px;
  max-width: 100%;
  padding: 5px;


}
.conteudo1 img{
  width: 150px;
}
.evo{

}


.tion{
  font-size: 2.5rem;
  background: #002ae3 -webkit-gradient(linear, left top, right top, from(#fffeffa9),
  to(#ffffff), color-stop(0.5, #ffffff)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #ffffff00;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

.conteudo1  .evo {
  font-size: 2.5rem;
  color: #ffffff;
  background: #fffffff8 -webkit-gradient(linear, left top, right top, from(#002ae3),
  to(#002ae3), color-stop(0.5, #002ae3)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #c7c6c30a;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

mark{
  padding: 2px;
  border-radius: 6px;
}


.A1{
  color: rgb(253, 253, 253);
  font-size: 1.5rem;
  margin-top: 50px;
}

.A2{
  color: #fdfdfd;
  font-size: 1.5rem;
  margin: 5px;
}

.A3{
  color: #000000;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 80px;
}

.amarillo{
  color: #36d4ff;
}

.conteudo2{
  text-align: center;
  margin-top: 25px;
  padding: 25px;
  max-width: 100%;
}

.conteudo2 > H2{
  color: #fffb00;
  font-size: 1.5rem;
}

.conteudo2 > p{
  color: #ffffff;
  font-size: 1.2rem;
  width: 350px;
  padding: 5px;
}


.portada > p{
  color: #ffffff;
  font-size: 1.2rem;
  width: 350px;
  padding: 5px;
}

.cont{
  color: #ffffff;
  font-size: 1.2rem;
  width: 350px;
  padding: 5px;
  text-align: center;
  display: block;
  margin: auto;

}

.lista{
  color: #ffffff;
  padding: 15px;
}

.portada2{
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20PX;
}

.titulo{
  font-size: 1.8rem;
  width: 350px;
  color: #fff200;
  margin-top: 50px;
  text-align: center;
}

.cart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card{
  text-align: center;
  width: 350px;
  margin: 25px;
  background: linear-gradient(45deg, #a490f3, #110a2f, #500000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;

}

.card-cont{
  text-align: center;
  width: 350px;
  margin: 25px;
  background: linear-gradient(45deg, #a490f3, #110a2f, #500000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
  border-radius: 10px;

}

.card-img{
  text-align: center;
  width: 300px;
  height: 500px;
  margin-bottom: 25px;
}

.card img{
  width: 350px;
 
}

.card-c{
  text-align: center;
  margin-top: 25px;
  width: 350px;
  height: 500px;
  background-color: #000000ed;
  color: #ffffff;
  margin: 25px;
  font-size: 1rem;
   border-radius: 2px;
   box-shadow: 5px 5px 10px rgba(0, 136, 255, 0.537);
   border-radius: 10px;
}

.card-c h2{
 padding: 5px;
}

.card-c img{
  width: 350px;
}
.sub{
  color: #fff700;
}


a{
display: block;
padding: 5px;
font-weight: 600;
color: #000000;
background-color: #fffb00;
border-radius: 10px;
text-decoration: none;
text-align: center;
font-size: 1.3rem;
animation: flutuacao 1s ease-in-out infinite;
transform: scale3d(1.1, 1.1, 1);


}
img{
  border-radius: 10px 10px 0px 0px;
}
.link{
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

a:hover{
  transform: scale3d(1.1, 1.1, 1);
  background-color: #0000003c;
  color: #fff700;
  border: 2px solid #fffb00;

}

ol{
  padding: 10px;
}

li{
 
  margin-left: 10px;
  margin-bottom: 15px;

}
video{
  margin: 15px;
}
footer{
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  margin-top: 25px;
}

@keyframes flutuacao {
  50%, 50%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(-2px);
  }
}

  @keyframes animate{
    0%, 10%{
      background-position: -1000px;
    }
    20%{
      background-position: top left;
    }
    90%{
      background-position: top right;
    }
    100%{
      background-position: 1000px;
    }

        
  }

