*{
  margin: 0;
  padding: 0;
}
body, html{
  font-size: 1rem;
  font-family: sans-serif;
}

section{
  box-sizing: content-box;
  height: 100%;
  background: linear-gradient(45deg, #06001e, #07002a, #000000);
  background-size: 300% 300%;
  animation: colors 5s ease infinite;
 

}
  .portada{
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.conteudo1{
  text-align: center;
  margin-top: 15px;
  max-width: 100%;
  padding: 5px;


}
.conteudo1  .tra{
  font-size: 2rem;
  color: #ffffff;
}

.tion{
  font-size: 3.5rem;
  color: #e5e5e5;
  background: #1f2ef7f8 -webkit-gradient(linear, left top, right top, from(#fffeff),
  to(#a6a6aa), color-stop(0.5, #080031)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #c7c6c30a;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

.conteudo1  .evo {
  font-size: 3.5rem;
  color: #ffffff;
  background: #fffffff8 -webkit-gradient(linear, left top, right top, from(#2814ff),
  to(#1b00ca), color-stop(0.5, #140066)) 0 0 no-repeat;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #c7c6c30a;   
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 4s infinite;
}

.titulo01{
  color: rgb(253, 253, 253);
  font-size: 2rem;
 
}
.titulo02{
  color: rgb(33, 179, 251);
  font-size: 2.5rem;

}

.A1{
  color: rgb(253, 253, 253);
  font-size: 2.2rem;
  margin-top: 50px;
}

.A2{
  color: rgb(253, 253, 253);
  font-size: 1.8rem;
  margin: 5px;
}

.A3{
  color: #000000;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 150px;
}

.amarillo{
  color: #fff200;
}
.conteudo2{
  text-align: center;
  margin-top: 25px;
  padding: 25px;
  max-width: 100%;
}
.conteudo2 > H2{
  color: rgb(253, 253, 253);
  font-size: 1.8rem;
}
.conteudo2 > p{
  color: rgb(253, 253, 253);
  font-size: 1.2rem;
  margin: 20px;
  text-transform: capitalize;
  text-align: justify;
}
.titulo{
  color: white;
  font-size: 2.5rem;
  padding: 20px;
}

.cart{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.card{
  text-align: center;
  width: 380px;
  height: 500px;
  background-color: #00f8f8ed;
  margin-bottom: 25px;
}
.card-img{
  text-align: center;
  width: 380px;
  height: 450px;
  background-color: #00f8f8ed;
  margin-bottom: 25px;
}

.card-c{
  text-align: center;
  margin-top: 25px;
  width: 380px;
  height: 500px;
  background-color: #faffffed;
  margin: 25px;
}

.img{
  background-image: url("img/5.jpg");
  width: 380px;
  height: 350px;
  margin: auto;
}




.video{
  min-width: 380px;
  max-width: 800px;
  margin: auto;


}
iframe{
  width: 100%;
}





a{
  display: block;
  padding: 5px;
  font-weight: 500;
 margin: auto;
 background: linear-gradient(#00050500, #21eefc00);
color: #ffffff;
 border-radius: 10px;
 width: 350px;
 text-decoration: none;
 text-align: center;
 font-size: 1.6rem;
  animation: flutuacao 1s ease-in-out infinite;
  transform: scale3d(1.1, 1.1, 1);
   box-shadow: 5px 5px 10px rgba(0, 136, 255, 0.471);
   border: 3px solid rgba(42, 85, 255, 0.594);

}

a:hover{
    transform: scale3d(1.1, 1.1, 1);

}
@keyframes flutuacao {
  50%, 50%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(-2px);
  }
}

  @keyframes animate{
    0%, 10%{
      background-position: -1000px;
    }
    20%{
      background-position: top left;
    }
    90%{
      background-position: top right;
    }
    100%{
      background-position: 1000px;
    }

        
  }

